language: R
cache: packages

r:
  - 3.0
  - 3.1
  - 3.2
  - 3.3
  - 3.4
  - oldrel
  - release
  - devel

r_packages:
  - covr

after_success:
  - Rscript -e 'covr::codecov()'

notifications:
  email: false
  slack:
    rooms:
      - poissonconsulting:BKjfn7jsVh8zXTu2rq7BEQEb
    on_success: change
    on_failure: always
